[submodule "fa"]
	path = fa
	url = https://github.com/oxmc/font-awesome
[submodule "ppdb"]
	path = ppdb
	url = https://github.com/oxmc/paypaldonatebutton
[submodule "osd"]
	path = osd
	url = https://github.com/oxmc/os-detect.js
